@import '../../../../../node_modules/@angular/material/theming';

@mixin app-layout-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $font-family: mat-font-family($config);
  $color: #ffffff;

  footer {
    background-color: mat-color($primary);
    color: $color;
    font-family: $font-family;
  }
}
