@import '~@angular/material/theming';

@mixin budget-theme($theme) {
  $green: mat-color($mat-light-green, 600);
  $accent: map-get($theme, accent);
  $red: mat-color($mat-red, 600);
  $green-text: $light-primary-text;
  $red-text: $light-primary-text;

  table.budget-table {
    td {
      border-bottom-width: 0 !important;
    }

    .group-income {
      background-color: $green;
      color: $green-text;
    }
    .group-expense {
      background-color: $red;
      color: $red-text;
    }
    .category-income {

      &:hover {
        background-color: mat-color($mat-light-green, 50);
      }
    }
    .category-expense {

      &:hover {
        background-color: mat-color($mat-red, 50);
      }
    }
    .summary {
      background-color: mat-color($accent);
    }
  }

}
