<div class="sidebar-panel">

  <div class="sidenav">
    <ul>
      <li>
        <a mat-button class="mat-button" routerLink="dashboard" routerLinkActive="mat-accent">
          <mat-icon>home</mat-icon>
          <span fxShow fxHide.xs> Dashboard</span>
        </a>
      </li>
      <li>
        <a mat-button class="mat-button" routerLink="budget" routerLinkActive="mat-accent">
          <mat-icon>trending_up</mat-icon>
          <span fxShow fxHide.xs> Budget</span>
        </a>
      </li>
      <li>
        <a mat-button class="mat-button" routerLink="transactions" routerLinkActive="mat-accent">
          <mat-icon>list</mat-icon>
          <span fxShow fxHide.xs> Transactions</span>
        </a>
      </li>
      <li>
        <a mat-button class="mat-button" routerLink="accounts" routerLinkActive="mat-accent">
          <mat-icon>credit_card</mat-icon>
          <span fxShow fxHide.xs> Accounts</span>
        </a>
      </li>
      <li>
        <a mat-button class="mat-button" routerLink="contractors" routerLinkActive="mat-accent">
          <mat-icon>people</mat-icon>
          <span fxShow fxHide.xs> Contractors</span>
        </a>
      </li>
    </ul>
  </div>
</div>
