<ng-container *ngIf="isLoading === false; else loading">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <app-back></app-back>
      <h1>Edit category <u>{{category.name}}</u></h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="p-16">
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="column" fxFlex="50" [fxFlex.sm]="80" [fxFlex.xs]="100">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="form" (submit)="categoryUpdate()">
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Name" formControlName="name">
                  </mat-form-field>
                </div>
              </div>
              <div class="button-row">
                <button mat-raised-button color="primary">
                  Save
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
