<div class="p-3">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxFlex="50" [fxFlex.sm]="80" [fxFlex.xs]="100">
      <mat-card *ngIf="isLoading === false; else loading">
        <mat-card-title>
          Add category group
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" (submit)="categoryGroupCreate()">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-radio-group formControlName="type" style="display: inline-flex;width: 100%;">
              <mat-radio-button *ngFor="let option of types" [value]="option.id">
                {{option.name}}
              </mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button color="primary">
              Add
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
