@import "~@angular/material/theming";


@mixin auth-layout-mixin($theme) {
  $primary: map-get($theme, primary);

  .layout {
    background-image: url("../../../../../assets/auth-layout-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .layout-inner {
      width: 100%;
      height: 100%;
    }
  }

  .mat-card {
    opacity: 0.8;
    border: 0;
  }
}

.mat-card {
  opacity: 0.8;
  border: 0;
}
