<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Budget</h1>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button color="accent" routerLink="/app/categoryGroups/add">
      <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
      <span> Add category group</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="p-16">
  <mat-card>
    <mat-card-content>
      <app-budget-filter></app-budget-filter>

      <table mat-table [dataSource]="budget" class="budget-table" style="width: 100%">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/app/transactions']" [queryParams]="{category: element._id}">{{element.name}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="income">
          <th mat-header-cell *matHeaderCellDef> Income </th>
          <td mat-cell *matCellDef="let element"> {{element.income | number: '1.2'}} </td>
        </ng-container>

        <ng-container matColumnDef="expense">
          <th mat-header-cell *matHeaderCellDef> Expense </th>
          <td mat-cell *matCellDef="let element"> {{element.expense | number: '1.2'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="element.categories" mat-icon-button matTooltip="Edit group" [routerLink]="['/app/categoryGroups', element._id, 'edit']">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            </button>
            <button *ngIf="element.categories" mat-icon-button matTooltip="Add category in group" [routerLink]="['/app/categories/add']" [queryParams]="{group: element._id}">
              <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
            <button *ngIf="!element.categories" mat-icon-button matTooltip="Edit category" [routerLink]="['/app/categories', element._id, 'edit']">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            </button>
            <button *ngIf="!element.categories" mat-icon-button matTooltip="Add transaction in category" [routerLink]="['/app/transactions/add']" [queryParams]="{category: element._id}">
              <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'income', 'expense', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'income', 'expense', 'actions'];" [ngClass]="{'group-income': row.categories && row.type === 1, 'group-expense': row.categories && row.type === 2, 'category-income': !row.categories && row.type === 1, 'category-expense': !row.categories && row.type === 2, 'summary': !row.categories && !row.type}"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

