<div class="p-3">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxFlex="50" [fxFlex.sm]="80" [fxFlex.xs]="100">
      <mat-card>
        <form [formGroup]="form" (submit)="accountCreate()">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Amount" formControlName="amount">
          </mat-form-field>
          <button mat-raised-button color="primary">
            Add
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>

