@import '~@angular/material/theming';
@import "../app/budget/page/budget/budget.component.theme";
@import "../app/core/layout/app-layout/app-layout.component.theme";
@import "../app/core/layout/app-layout/component/sidebar/sidebar.component.theme";

@include mat-core();
$config: mat-typography-config();

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-amber, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
@include budget-theme($app-theme);
@include app-layout-theme($app-theme, $config);
@include app-sidebar-theme($app-theme, $config);
