@import '~@angular/material/theming';
@import "~src/app/page/budget/budget.component.theme";

@include mat-core();

$violet-app-primary: mat-palette($mat-blue);
$violet-app-accent: mat-palette($mat-amber, A200, A100, A400);

$violet-app-warn: mat-palette($mat-red);

$violet-app-theme: mat-light-theme($violet-app-primary, $violet-app-accent, $violet-app-warn);

@include angular-material-theme($violet-app-theme);

@include budget-theme($violet-app-theme);
