.layout {
  background-image: url("../../../assets/auth-layout-background2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-card {
  opacity: 0.8;
  border: 0;
}
