<form [formGroup]="loginForm" (submit)="login()">
  <div class="row">
    <div class="col">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="E-mail" formControlName="email">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field style="width: 100%">
        <input matInput type="password" placeholder="Hasło" formControlName="password">
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary">Zaloguj się</button>
</form>
