
<form [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="Month" formControlName="month">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp startView="year" (monthSelected)="onChangeMonth($event, dp)"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category" formControlName="category" (selectionChange)="onChangeCategory($event)">
      <mat-option [value]="null">All categories</mat-option>
      <mat-optgroup *ngFor="let group of categoryList" [label]="group.name">
        <mat-option *ngFor="let option of group.categories" [value]="option._id">
          {{option.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Contractor" formControlName="contractor" (selectionChange)="onChangeContractor($event)">
      <mat-option [value]="null">All contractors</mat-option>
      <mat-option *ngFor="let option of contractorList" [value]="option._id">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

