mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    background: #2d2d2d;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.35);
  }
}

.user {
  margin-left: auto;
}

footer {
  font-family:Roboto,"Helvetica Neue",sans-serif
}
