<ng-container *ngIf="isLoading === false; else loading">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <app-back></app-back>
      <h1>Edit transaction</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="p-16">
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="column" fxFlex="50" [fxFlex.sm]="80" [fxFlex.xs]="100">
        <mat-card>
          <form [formGroup]="form" (submit)="transactionUpdate()">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Account" formControlName="account">
                      <mat-option *ngFor="let option of accountList" [value]="transaction.account">
                        {{option.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Category" formControlName="category">
                      <mat-optgroup *ngFor="let group of categoryList" [label]="group.name">
                        <mat-option *ngFor="let option of group.categories" [value]="transaction.category">
                          {{option.name}}
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Contractor" formControlName="contractor">
                      <mat-option *ngFor="let option of contractorList" [value]="transaction.contractor">
                        {{option.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="dp" placeholder="Date" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="month"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Income" formControlName="income">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Expense" formControlName="expense">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Description" formControlName="description">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button color="primary">
                Save
              </button>
            </mat-card-content>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
