$dark: #007bff;

$line-height-xs:              1.1 !default;

$input-btn-padding-y-xs:      .125rem !default;
$input-btn-padding-x-xs:      .35rem !default;
$input-btn-line-height-xs:    $line-height-xs !default;

$btn-padding-y-xs:            $input-btn-padding-y-xs !default;
$btn-padding-x-xs:            $input-btn-padding-x-xs !default;
$btn-line-height-xs:          $input-btn-line-height-xs !default;
