.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mat-icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
    display: block;
  }

  p {
    font-size: 1.5rem;
  }
}
