<ng-container>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Dashboard</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="p-16">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutAlign.sm="center none" fxLayoutAlign.xs="center none" fxLayoutGap="20px">

      <div fxFlex="50" [fxFlex.sm]="100" [fxFlex.xs]="100" fxLayout="column" fxLayoutGap="20px">
        <mat-card [appSpinner]="!(flowSummaryLoaded$ | async)">
          <mat-card-header>
            <mat-card-title>
              Cash Flow
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-flow-summary
              *ngIf="(flowSummary$ | async)?.length > 0; else empty"
              [summary]="flowSummary$ | async"
            ></app-flow-summary>
          </mat-card-content>
        </mat-card>

        <mat-card [appSpinner]="!(categoriesSummaryLoaded$ | async)">
          <mat-card-header>
            <mat-card-title>
              Expenses by categories
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-categories-summary
              *ngIf="(categoriesSummary$ | async)?.length > 0; else empty"
              [summary]="categoriesSummary$ | async"
            ></app-categories-summary>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="50" [fxFlex.sm]="100" [fxFlex.xs]="100">
        <mat-card [appSpinner]="!(transactionsToSummaryLoaded$ | async)">
          <mat-card-header>
            <mat-card-title>
              Latest transactions
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-latest-transactions-table
              *ngIf="(latestTransactions$ | async)?.length > 0; else empty"
              [transactions]="latestTransactions$ | async"
            ></app-latest-transactions-table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #empty>
  <div class="empty">
    <mat-icon>inbox</mat-icon>
    <p>You haven't any transactions</p>
  </div>
</ng-template>
