<mat-toolbar>
  <mat-toolbar-row>
    <button mat-raised-button color="accent" routerLink="/app/contractors/add">
      <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
      <span> Add contractor</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="p-3">
  <mat-card>
    <table mat-table [dataSource]="contractorList" style="width: 100%">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/app/contractors', element._id, 'edit']">{{element.name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef> Street </th>
        <td mat-cell *matCellDef="let element"> {{element.street}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>




<!--<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-8">
      <h3>Lista kontrahentów</h3>
    </div>
    <div class="col-4 float-right text-right">
      <div class="btn-group" role="group" aria-label="Acion buttons">
        <app-contractor-create [contractorCreateSubject]="contractorCreateSubject">Dodaj kontrahenta</app-contractor-create>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3 mb-3">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Nazwa</th>
          <th>Ulica</th>
          <th>Miasto</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of contractorList">
          <td>
            <a [routerLink]="['/app/contractors', item._id, 'edit']">
              {{item.name}}
            </a>
          </td>
          <td>
            {{item.street}}
          </td>
          <td>
            {{item.city}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
