<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button class="mat-button" routerLink="dashboard" routerLinkActive="mat-accent">
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
        <span fxShow fxHide.xs> Dashboard</span>
      </a>
      <a mat-button class="mat-button" routerLink="budget" routerLinkActive="mat-accent">
        <fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon>
        <span fxShow fxHide.xs> Budget</span>
      </a>
      <a mat-button class="mat-button" routerLink="transactions" routerLinkActive="mat-accent">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
        <span fxShow fxHide.xs> Transactions</span>
      </a>
      <a mat-button class="mat-button" routerLink="accounts" routerLinkActive="mat-accent">
        <fa-icon [icon]="['fas', 'credit-card']"></fa-icon>
        <span fxShow fxHide.xs> Accounts</span>
      </a>
      <a mat-button class="mat-button" routerLink="contractors" routerLinkActive="mat-accent">
        <fa-icon [icon]="['fas', 'users']"></fa-icon>
        <span fxShow fxHide.xs> Contractors</span>
      </a>
      <span style="flex: 1 1 auto;"></span>
      <button mat-button [matMenuTriggerFor]="profileMenu">{{ authService.getUser().firstName }}</button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>Change password</button>
        <button mat-menu-item (click)="logout()">
          <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
          Logout
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>

<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="center center">
      &copy; Kamil Rybczyński
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
